node_modules/
build/
.idea
pids
logs
.idea/
contracts/flattened/*.sol
contracts/artifacts/*.json
.DS_Store
coverage/
coverage.json
coverage.js
abi/BytesLib.abi
abi/BytesToTypes.abi
abi/I*.abi
abi/Memory.abi
abi/Ownable.abi
abi/RLP*.abi
abi/SafeMath.abi
abi/System.abi
forge-cache/solidity-files-cache.json

# test
.pytest_cache
reports/
